<h4>Customer details</h4>
<label for="CustomerFirstName">First name:</label>
<input type="text" id="CustomerFirstName" name="CustomerFirstName" value="@Model.CustomerFirstName" />
<label for="CustomerLastName">Last name:</label>
<input type="text" id="CustomerLastName" name="CustomerLastName" value="@Model.CustomerLastName" />
<label for="CustomerAddress">Address:</label>
<input type="text" id="CustomerAddress" name="CustomerAddress" value="@Model.CustomerAddress" />
<label for="CustomerCity">City:</label>
<input type="text" id="CustomerCity" name="CustomerCity" value="@Model.CustomerCity" />
<label for="CustomerZipCode">Zip Code:</label>
<input type="text" id="CustomerZipCode" name="CustomerZipCode" value="@Model.CustomerZipCode" />
<label for="CustomerPhoneNumber">Phone number:</label>
<input type="text" id="CustomerPhoneNumber" name="CustomerPhoneNumber" value="@Model.CustomerPhoneNumber" />