<h4>Customer details</h4>
<div>
    <label for="CustomerFirstName">First name:</label>
    <input type="text" id="CustomerFirstName" name="CustomerFirstName" value="@Model.CustomerFirstName" />
</div>
<div>
    <label for="CustomerLastName">Last name:</label>
    <input type="text" id="CustomerLastName" name="CustomerLastName" value="@Model.CustomerLastName"/>
</div>
<div>
    <label for="CustomerAddress">Address:</label>
    <input type="text" id="CustomerAddress" name="CustomerAddress" value="@Model.CustomerAddress"/>
</div>
<div>
    <label for="CustomerCity">City:</label>
    <input type="text" id="CustomerCity" name="CustomerCity" value="@Model.CustomerCity"/>
</div>
<div>
    <label for="CustomerZipCode">Zip Code:</label>
    <input type="text" id="CustomerZipCode" name="CustomerZipCode" value="@Model.CustomerZipCode"/>
</div>
<div>
    <label for="CustomerPhoneNumber">Phone number:</label>
    <input type="text" id="CustomerPhoneNumber" name="CustomerPhoneNumber" value="@Model.CustomerPhoneNumber" />
</div>
<div>
    <input type="hidden" id="CustomerId" name="CustomerId" value="@Model.CustomerId" />
</div>
