
@{
    ViewData["Title"] = "Resrevation Details";
}

<div>
    <h4>Reservation details</h4>
</div>
<div>
    <label>ReservationId:</label>@Model.ReservationId
</div>
<div>
    <label>Hotel name:</label>@Model.HotelName
</div>
<div>
    <label>Check In:</label> @Model.CheckIn
</div>
<div>
    <label>Check Out:</label>@Model.CheckOut
</div>
<div>
    <label>Pay On Arriavl:</label>@Model.PayAtHotel
</div>
<div>
    <label>Customer Comments:</label>@Model.CustomerComments
</div>

