@* credit card input fields here *@
<h4>Credit Card Details</h4>

<div>
    <label>Payment Amount: </label>@Model.PaymentAmount
</div>
<div>
    <lable>Card Type: </lable>@Model.CardType
</div>
<div>
    <lable>Card Number: </lable>@Model.CardNumber
</div>
<div>
    <label>Expiery Date: </label>@Model.ExpieryDateMonth/@Model.ExpieryDateYear
</div>
<div>
    <label>Payment Amount: </label>@Model.PaymentAmount
</div>

<div>
    <input type="hidden" id="PaymentId" name="PaymentId" value="@Model.PaymentId" />
</div>
