<div>
    <h4>Reservation details</h4>
</div>
<div>
    <label>ReservationId:</label>@Model.ReservationId
</div>
<div>
    <label>Hotel name:</label>@Model.HotelName
</div>
<div>
    <label>Check In:</label> @Model.CheckIn
</div>
<div>
    <label>Check Out:</label>@Model.CheckOut
</div>
<div>
    <label>Pay On Arriavl:</label>@Model.PayAtHotel
</div>
<div>
    <label>Customer Comments:</label>@Model.CustomerComments
</div>

@*<input type="hidden" id="CustomerId" name="CustomerId" value="@Model.CustomerId" />*@
@*<input type="hidden" id="ReservationId" name="ReservationId" value="@Model.ReservationId" />*@
@*<input type="hidden" id="HotelId" name="HotelId" value="@Model.HotelId" />
@*<input type="hidden" id="PaymentId" name="PaymentId" value="@Model.PaymentId" />*@
