<h4>Customer details</h4>
<div>
    <label>First name:</label>@Model.CustomerFirstName
</div>
<div>
    <label>Last name:</label>@Model.CustomerLastName
</div>
<div>
    <label >Address:</label>@Model.CustomerAddress
</div>
<div>
    <label>City:</label>@Model.CustomerCity
</div>
<div>
    <label>Zip Code:</label>@Model.CustomerZipCode
</div>
<div>
    <label>Phone number:</label>@Model.CustomerPhoneNumber
</div>
